  <nav class="top-bar" data-topbar ng-controller="HeaderController">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/#!/" class="navbar-brand">Beach or Nah</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
			<li>
				<a href="/#!/settings/profile">Edit Profile</a>
			</li>
			<li>
				<a href="/#!/settings/accounts">Manage Social Accounts</a>
			</li>
			<li ng-show="authentication.user.provider === 'local'">
				<a href="/#!/settings/password">Change Password</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/auth/signout">Signout</a>
			</li>
    </ul>
  </section>
</nav>