<div class="background">
  <div class="input-background" id="splash">
    <div class="horizon">          
  <div class="row intro">  
<!--     <img src="/img/beachornah.png" alt="beach or ah">
 -->  <form>  
    <div class="small-centered small-12 medium-6 columns">
      <label>      
        <select class="location-list small-8 small-offset-1 columns" ng-model="user.location" ng-options="location as location.name for location in beachLocation">
        <option value="" default selected>name your beach</option>
        </select>        
      </label>
      <ul class="button-group deets-toggle-beach small-2 columns alpha beta">
        <li class="ornah">
          <a href="/{{user.location.latlong}}">
            <button ng-click="update(user)" class="small deets submit-beach secondary">submit</button>
          </a>
        </li>
      </ul> 
    </div>
  </div>
</form>
    </div><!-- horizon -->
    </div><!-- yah-background -->
</div>