<div class="row" ng-controller="BeachController">
  <div class="small-12 medium-12 large-12 columns">
  <form class="row collapse" ng-submit="beachPicker()">
    <h2 class="beach-title">First, pick a beach you want to get a report for (don't worry, you can add more later)</h2>
    <div class="small-9 columns"> 
      <input type="text" placeholder="Find your Beach" ng-autocomplete ng-model="userBeach" details="details"/>
    </div>
    <div class="small-3 columns">
      <button class="button postfix" type="submit">find</button>
    </div>
  </form>
  </div>
</div>