.yah-background {
  background: url(/img/yah.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.input-background {
  @extend .yah-background;
  background: url(/img/intro.png) no-repeat center center;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: none;
}

.meh-background {
  @extend .yah-background;
  background: url(/img/meh.png) no-repeat center center;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: none;
}

.nah-background {
  @extend .yah-background;
  background: url(/img/nah.png) no-repeat center center;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: none;
}