---
title: Beach or Nah
---

<div class="container" ng-app="beachday" ng-controller="mainController" ng-init="init()">
  <div class="background-image" id="splash">
    <div class="horizon">
    <div class="resize small-10 columns">
      <h3 class="resize-brah">
      resize your window brah, <br> I'm better <br> when I'm skinny
    </h3>     
    </div><!-- resize -->
    <div class="arrows small-12 columns">
        <i class="ion-arrow-right-a left"></i>
        <i class="ion-arrow-left-a right"></i>                  
    </div><!-- arrows -->
    </div><!-- horizon -->   
  </div>
</div><!-- container -->