---
title: Beach or Nah
---

<div class="container">
  <div class="yah-background" id="splash">
    <div class="horizon">
    <div class="circle"></div><!-- circle -->
    <div class="yah small-10 small-centered columns">
      <h3 class="yah-message">
      yah
    </h3>     
    </div><!-- resize -->
    </div><!-- horizon -->
      <button class="small deets secondary"><a href="#yah_stats">deets</a></button>
  </div><!-- yah-background -->
</div><!-- container -->
