---
title: Beach or Nah
---

<div class="{{ornah[0]}}-background" id="splash">
  <div class="horizon">
  <div class="circle"></div><!-- circle -->
  <div class="nah small-10 small-centered columns">
    <h3 class="nah-message">
    {{ornah[0]}}
  </h3>     
  </div><!-- resize -->
  </div><!-- horizon -->
    <button class="small deets secondary"><a href="/stats">deets</a></button>       
</div><!-- yah-background -->


