---
title: Beach or Nah
---

<div class="yah-background" id="splash">
  <div class="horizon">
    <div class="stats-container">
      <row class="air-temp clearfix">
      <div class="air-temp small-12 small-centered">
        <div class="temp-title"><h4>air</h4></div>
        <div class="temp-high"><h1>{{results[4].tempF}}&deg;</h1></div>
        <div class="temp-detail"><h4>wind {{results[4].windspeedMiles}} mph - {{results[4].winddir16Point}}</h4></div>
      </div><!-- temp -->
    </row><!-- air-temp -->

    <row class="water-temp clearfix">
      <div class="water-temp small-12 small-centered">
        <div class="temp-title"><h4>water</h4></div>
        <div class="temp-high"><h1>{{results[4].waterTemp_F}}&deg;</h1></div>
        <div class="temp-detail"><h4>wave height</h4></div>
      </div><!-- temp -->
    </row><!-- water-temp -->

    <row class="wave-height clearfix">
      <ul class="block-grid one-up wave-data">  
        <li class="height">
            <div class="wave-bar">
              <h2 class="wave-height">{{results[2].swellHeight_m / 0.3 | number: 0 }}ft</h2>            
            </div><!-- wave-bar -->
            <h4>9am</h4> 
        </li><!-- height am --> 
        <li class="height">
            <div class="wave-bar">
              <h2 class="wave-height">{{results[4].swellHeight_m / 0.3 | number: 0 }}ft</h2>
            </div><!-- wave-bar -->
            <h4>noon</h4> 
        </li><!-- height am --> 
        <li class="height">
            <div class="wave-bar">
              <h2 class="wave-height">{{results[6].swellHeight_m / 0.3 | number: 0 }}ft</h2>
            </div><!-- wave-bar -->
            <h4>6pm</h4> 
        </li><!-- height am -->  
      </ul><!-- wave-data -->
      <div class="wave-interval">
        <h4 class="interval-title">
          wave interval: {{results[4].swellPeriod_secs | number: 0}}s
        </h4>
      </div><!-- wave-interval -->
    </row><!-- wave-height --> 
    </div><!-- stats-container -->
  </div><!-- horizon -->
</div><!-- yah-background -->